
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,900;1,600;1,900;1,1000&display=swap');

body{
    background-color: cadetblue;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.container{
    width: 55rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 30px;
    border-radius: 16px;
    backdrop-filter: blur(7.4px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    margin-left: auto; 
    margin-right: auto; 
}
.topic{
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 30px;
    border-radius: 16px;
    
}
.balance{
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 30px;
    border-radius: 16px;
}

.sub-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    text-align: left;
}
.transactions{
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 30px;
    border-radius: 16px;
}
.total-expense{
    text-align: right;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: cadetblue;
    margin-left: 10px;
}
.edit-button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: cadetblue;
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center;
}


.modal-content {
    background-color: #224A4A; 
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
}


.modal-content button {
    margin-top: 10px;
    border-radius: 100px;
    background-color: cadetblue; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

